- if controller_name == 'companies'
  %li.selected
    .sidebar-icon
      = fa_icon "building"
    .sidebar-item
      Datos de la Empresa
- else
  %li
    = link_to edit_company_path(current_company.id) do
      .sidebar-icon
        = fa_icon "building"
      .sidebar-item
        Datos de la Empresa
