#sidebar-wrapper.hidden-print
  %ul.sidebar-nav
    - case current_user.role.name
    - when 'candidate'
      = render "shared/candidate_navbar"
    - when 'company'
      = render "shared/company_navbar"
