/*
* This is a manifest file that'll be compiled into application.css, which will include all the files
* listed below.
*
* Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
* or any plugin's vendor/assets/stylesheets directory can be referenced here using a relative path.
*
* You're free to add application-wide styles to this file and they'll appear at the bottom of the
* compiled file so the styles you add here take precedence over styles defined in any styles
* defined in the other CSS/SCSS files in this directory. It is generally better to create a new
* file per style scope.
*
*= require_tree ./shared
*= require font-awesome
*= require_self
*/

body {
  background-color: #e7e9ec;
}

#main-container {
  margin-top: 100px;
  position: relative;
}
.elimina {
  margin-top: 10px;
  margin-right: 10px;
  text-align: right;
  font-weight: bold;
}

.form-panel {
  padding: 10px;
}

.form-panel > .panel-footer {
  margin: 10px -10px -10px -10px;
  padding: 10px;
}

.centered {
  text-align: center;
}

.center-block {float: none !important}

#welcome-panel {
  margin-top: 50px;
}

#menu-toggle {
  margin-top: 6px;
}

fieldset.form {
  background-color: #fff;
}

fieldset.nested {
  padding: 5px;
  background-color: #fff;
}

fieldset.nested legend {
  font-size: 18px;
}

.avatar-resume {
  height: 200px;
  width: 200px;
}

.avatar-sidebar {
  height: 100px;
  width: 100px;
  border-width:2px;
  border-color: #fff;
}

#breadcrumb {
  background: #fff;
  height: 60px;
  width: 100%;
  margin-left: -20px;
  margin-top: -20px;
  margin-right: -20px;
  margin-bottom: 20px;
  padding: 10px;
  z-index: 2;
  position: fixed;
}

.custom-breadcrumb {
  list-style: none;
  font-size: 18px;
  margin: 10px;
  text-transform: uppercase;
}
.custom-breadcrumb > li {
  display: inline-block;
}
.custom-breadcrumb > li + li:before {
  content: "/\00a0";
  padding: 0 5px;
  color: #999999;
}
.custom-breadcrumb > .active {
  color: #333333;
}

.navbar-logo {
  height: 42px;
  margin-left: 20px;
  margin-right: 10px;
  margin-top: -10px;
}
