@import url(http://fonts.googleapis.com/css?family=Open+Sans:400,100,300);

body {
  position: relative;
}
.candidate-sidebar li.active a {
  color: #fff;
  background-color: #008cba;
}

.navigate-sidebar {
  margin-top: 21px;
}

fieldset {
  margin-bottom: 15px;
}

.resume-container {
  font-family: "Open Sans";
  padding: 25px;
  background-color: #fff;
}

.resume-sidebar {
  font-family: "Open Sans";
  font-weight: 100;
}

.resume-container h1.resume-name {
  font-family: 'Open Sans';
  font-size: 65px;
  font-weight: 300;
}

.resume-container fieldset legend {
  font-family: 'Open Sans';
  font-weight: 100;
}

.resume-container p.resume-title {
  font-size: 30px;
  font-weight: 100;
  margin-top: -10px;
}

.experience-company {
  font-size: 20px;
  font-weight: 300;
}

.experience-position {
  font-size: 25px;
  font-weight: 300;
  margin-top: 0px;
  margin-bottom: 0px;
}
.candidate-dates {
  font-size: 17px;
  font-weight: 100;
}

blockquote p{
  font-size: 14px;
}

.img-index {
  height: 125px;
  width: 125px;
}

.candidate-data p {
  font-size: 12px;
}
